<odoo>
    <record id="crm.crm_lead_menu_my_activities" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('group_show_crm_features')])]" />
    </record>
    <record id="sale_crm.sale_order_menu_quotations_crm" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('group_show_crm_features')])]" />
    </record>
    <record id="crm.sales_team_menu_team_pipeline" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('group_show_crm_features')])]" />
    </record>
    <record id="crm.crm_activity_report_menu" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('group_show_crm_features')])]" />
    </record>
</odoo>
